*.iml
.gradle
/local.properties
/.idea
captures
.externalNativeBuild
.cxx
local.properties
app/build/
build/
releases/
stage_packages/

# 鸿蒙 NEXT
harmonyos/.idea/
harmonyos/.hvigor/
harmonyos/oh_modules/
harmonyos/build/
